.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* row-gap: 200px; */
}

.section1,
.section2 {
  display: flex;
  flex-direction: row;
  position: absolute;
}

.dot {
  margin: 0 4px;
}

.dot,
.letters {
  display: flex;
  flex-direction: column;
  /* animation properties */
  -moz-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);

  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from {
    -moz-transform: translateY(200%);
  }
  to {
    -moz-transform: translateY(-220%);
  }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateY(200%);
  }
  to {
    -webkit-transform: translateY(-220%);
  }
}

@keyframes my-animation {
  from {
    -moz-transform: translateY(200%);
    -webkit-transform: translateY(200%);
    transform: translateY(200%);
  }
  to {
    -moz-transform: translateY(-220%);
    -webkit-transform: translateY(-220%);
    transform: translateY(-220%);
  }
}
